#description-container {
  height: 95vh;

  #desc-text-container {
    p {
      width: 96%;
      margin: 0 2%;
    }
  }
}

#desc-img-container {

  .big-img-container {
    height: 22vh;
  }

  .wrap-img-container {
    height: 22vh;
  }
}
