<div id="localisation-container">
  <div id="map-container">
    <div id="map">
      <%= image_tag "maptibau.png" %>
    </div>
  </div>
  <div id="loc-text-container">
  <h2>- Localisation -</h2>
  <br>
  <p>La Casa Tropical est située à Tibau Do Sul au nord du Brésil.
    A seulement 5 min à pied du centre du village, vous trouverez des petis commerces tel qu’un supermaché, quelques restaurants, des bars, ainsi qu’une petite salle de sport. <br>
    <br>
    A 10 min en voiture vous rejoindrez le village de Pipa, un village plus animé, de très bons restaurants ainsi qu’une très bonne ambiance en soirée. <br>
    <br>
    Tout autour de Tibau vous trouverez également de nombreuses activités comme une balade a cheval, un tour du lagon en bateau, une visite à buggy, une initation au surf ainsi qu’a de nombreux sports de glisse.</p>
  </div>
</div>
