<footer id="reserve-container">
  <h4>Vous pouvez me contacter par mail ou par téléphone.</h4>
  <div id="btn-tel-mail">
    <a class="action-btn" href="tel:+33607022105"><i class="fa-solid fa-phone"></i></a>
    <a class="action-btn" href="mailto:loicfaugere6@gmail.com"><i class="fa-solid fa-envelope"></i></a>
  </div>
  <h4 id="card-footer">Loïc Faugère <br>
Email: loicfaugere6@gmail.com <br>
Tél: +33 6 07 02 21 05</h4>
</footer>
